# TALLER DE REFUERZO

I. Diseña un programa en PYTHON para cada uno de los problemas que se te plantean.
1. Se necesita un sistema que despliega una tabla de multiplicar de un número dado por el usuario. ciclo for

In [ ]:
tablamulti = int(input("Digite número de la tabla:"))
for h in range(11):
  print(h," X ", tablamulti ," = ", h * tablamulti)

Digite número de la tabla:5
0  X  5  =  0
1  X  5  =  5
2  X  5  =  10
3  X  5  =  15
4  X  5  =  20
5  X  5  =  25
6  X  5  =  30
7  X  5  =  35
8  X  5  =  40
9  X  5  =  45
10  X  5  =  50

2. Se necesita un sistema que pida un sueldo de un trabajador, si el sueldo es mayor a 655000, no tedrá ninguna bonificación, pero si es menor tiene bonificación del 4%. Al final se desea saber el total del sueldo con o sin bonificación. Preguntar si desea ejecutar de nuevo el programa con el ciclo while.

In [ ]:
from IPython.utils.text import string
# sueldo = 655000
# sueldo = int(input("Digite su sueldo: "))
i = 0
while i != 1:
  print("sueldo")
  sueldo += 655000
  sueldo=int(input("Digite sueldo:"))
  if sueldo > 655000:
    print("No aplica paara la bonificación de 4%")
  else:
    print("Aplica bonificación")
    bono = sueldo * 0.04
  print("La bonificación es = {:,.0f}".format(bono,sueldo))
  total=bono + sueldo
  totalapagar = print("El total a pagar es= ${:,.0f}".format(total))
  i = int(input("Si desea introducir nuevo sueldo digite 0 o cualquier tecla para salir: "))

sueldo
Digite sueldo:43567
Aplica bonificación
La bonificación es = 1,743
El total a pagar es= $45,310
Si desea introducir nuevo sueldo digite 0 o cualquier tecla para salir: 0
sueldo
Digite sueldo:12345
Aplica bonificación
La bonificación es = 494
El total a pagar es= $12,839
Si desea introducir nuevo sueldo digite 0 o cualquier tecla para salir: 0
sueldo
Digite sueldo:1234556
No aplica paara la bonificación de 4%
La bonificación es = 494
El total a pagar es= $1,235,050
Si desea introducir nuevo sueldo digite 0 o cualquier tecla para salir: 1

3. Un maestro necesita un sistema para capturar las calificaciones de 5 parciales de sus alumnos, después recapturarlas necesita que se despliegue el promedio, cuando ya no quiera capturar más alumnos, necesita que se despliegue el promedio general de todos los alumnos capturados. Preguntar si desea ejecutar de nuevo el programa con el ciclo while.

In [ ]:
for d in range(0,101,2):
  print(d)

4. Crear un bucle que cuente todos los números pares hasta el 100 ciclo for

In [ ]:
for c in range(0,102,2):
  print(c)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

5. Haz una tabla de multiplicar utilizando el ciclo for ciclo for

In [ ]:

numero = int(input("Digite el número de la tabla de multiplicar: "))
for a in range(11):
  print(a, " X ", numero, " = ", a*numero)

Digite el número de la tabla de multiplicar: 5
0  X  5  =  0
1  X  5  =  5
2  X  5  =  10
3  X  5  =  15
4  X  5  =  20
5  X  5  =  25
6  X  5  =  30
7  X  5  =  35
8  X  5  =  40
9  X  5  =  45
10  X  5  =  50

6. Escribir un programa que pregunte al usuario su edad y muestre por pantalla todos los años que ha cumplido (desde 1 hasta su edad). ciclo for

In [ ]:
edad = int(input("Digite su edad: "))
primer = 2023 - edad
for b in range(edad):
  print(" en el ano ", primer, " tenia ", b)
  primer = primer + 1

Digite su edad: 45
 en el ano  1978  tenia  0
 en el ano  1979  tenia  1
 en el ano  1980  tenia  2
 en el ano  1981  tenia  3
 en el ano  1982  tenia  4
 en el ano  1983  tenia  5
 en el ano  1984  tenia  6
 en el ano  1985  tenia  7
 en el ano  1986  tenia  8
 en el ano  1987  tenia  9
 en el ano  1988  tenia  10
 en el ano  1989  tenia  11
 en el ano  1990  tenia  12
 en el ano  1991  tenia  13
 en el ano  1992  tenia  14
 en el ano  1993  tenia  15
 en el ano  1994  tenia  16
 en el ano  1995  tenia  17
 en el ano  1996  tenia  18
 en el ano  1997  tenia  19
 en el ano  1998  tenia  20
 en el ano  1999  tenia  21
 en el ano  2000  tenia  22
 en el ano  2001  tenia  23
 en el ano  2002  tenia  24
 en el ano  2003  tenia  25
 en el ano  2004  tenia  26
 en el ano  2005  tenia  27
 en el ano  2006  tenia  28
 en el ano  2007  tenia  29
 en el ano  2008  tenia  30
 en el ano  2009  tenia  31
 en el ano  2010  tenia  32
 en el ano  2011  tenia  33
 en el ano  2012  tenia  34
 en el ano  2013  tenia  35
 en el ano  2014  tenia  36
 en el ano  2015  tenia  37
 en el ano  2016  tenia  38
 en el ano  2017  tenia  39
 en el ano  2018  tenia  40
 en el ano  2019  tenia  41
 en el ano  2020  tenia  42
 en el ano  2021  tenia  43
 en el ano  2022  tenia  44